*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#001632;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */

.main-color{
    color: #001632;
}

/* FINE COMMON */

/* HEADER */
    header{
        height: 75px;
        background-color: #fff;
    }

    #difficulty, #start{
        background-color: #001632;
        border: none;
        border-radius: none;
        color: #fff;
        padding: 10px;
    }

    #difficulty:hover, #start{
        background-color: #010c1b;
        color: #fff;
    }
/* FINE HEADER */

/* GRID */
    #grid{
        width: 100%;
    }

    .game-card{
        position: relative;
        cursor: pointer;
        transform-style: preserve-3d;
        transform-origin: center;
        transition: transform 1s;
    }

    .card-face-back, .card-face-front{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    .card-face-front{
        transform: rotateY(180deg);
    }

    .game-card.flipped{
        transform: rotateY(-180deg);
    }
    
    
/* FINE GRID */

/* TIMER */
    #timer{
        text-align: center;
        font-size: 40px;
    }
/* FINE TIMER */